/* styles.css */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* * {
  border-style: solid;
} */

h1 {
  margin: 0;
}

img {
  margin: 0;
 }

.viewport-center {
  margin:10px;
}

#game-container {
  position: relative;
  width: 600px; /* Set the width of the game-canvas container */
  height: 400px; /* Set the height of the game-canvas container */
  overflow: hidden; /* Ensure anything outside the container is hidden */
  background-color: black; /* Black border */
}

.kitty {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
}

#kitty1 {
  left: 0;
  background-color: red;
}

#kitty2 {
  right: 0;
  background-color: green;
}

.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 52%;
  left: 9px; 
  /* Start the ball on top of "kitty1" */
  background-color: yellow;
  border-radius: 50%;
  /* mix-blend-mode: difference; */
  pointer-events: none;
}

.crack {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 52%;
  left: 200px; 
  background-color: white;
  border-radius: 50%;
}